# Global Ignore
.DS_Store
.env
.env.*
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore dependencies in all workspaces
**/node_modules/
**/.pnp/

# Testing
**/coverage/

# Build outputs
**/dist/

# Local Netlify and Serverless folders
**/.netlify/
**/.serverless/